{# Remove background page #}

{% extends "layouts/page.html" %}

{% load static %}

{% block title %}Remove background tool{% endblock title %}
{% block description %}Remove background page{% endblock description %}

{% block body %}
<div class="hidden" id="result" data-result="{{ result }}"></div>

<main>
    {% include "shared/header.html" %}

    <section class="mt-24 px-4">
        <div class="max-w-screen-2xl mx-auto">
            <h1 class="text-2xl">Remove background</h1>

            {% if not original_image and not processed_image %}
                <form
                    class="mt-8"
                    method="post"
                    action={% url 'remove-background' %}
                    enctype="multipart/form-data"
                >
                    {% csrf_token %}

                    <input
                        name="action_type"
                        type="hidden"
                        value="remove"
                    >

                    <label
                        class="block text-sm font-medium"
                        for="image"
                    >
                        Upload image
                    </label>

                    <input
                        class="w-full text-sm mt-2 border {% if error %}!border-red-500{%else%}border-gray-300{%endif%} rounded-lg cursor-pointer bg-gray-50 focus:outline-none"
                        id="image"
                        name="image"
                        type="file"
                    >

                    {% if error %}
                        <p class="text-xs text-red-500 mt-2">
                            {{ error }}
                        </p>
                    {% endif %}

                    <p
                        class="text-sm text-gray-500 mt-2"
                        id="image-help"
                    >
                        JPG or PNG images only.
                    </p>

                    <button
                        class="bg-blue-700 text-sm text-white mt-6 px-8 py-2.5 rounded-lg hover:bg-blue-700/80 focus:ring-4 focus:ring-blue-300"
                        onclick="disableButtonOnLoading(event)"
                        variant="primary"
                    >
                        Submit
                    </button>
                </form>
            {% endif %}

            {% if original_image and processed_image %}
                <div class="flex flex-col gap-8 mt-8 md:flex-row">
                    <div>
                        <h2 class="font-medium">Original image</h2>
                        <img class="max-w-full h-auto mt-2" src="{{ original_image }}" alt="Original image">
                    </div>

                    <div>
                        <h2 class="font-medium">Processed image</h2>
                        <img class="max-w-full h-auto bg-red-400 mt-2" src="{{ processed_image }}" alt="Processed image">
                    </div>
                </div>

                {% if form.errors.result_name|length > 0 %}
                    <p class="text-xs text-red-500 mt-2">
                        {{ form.errors.result_name.0 }}
                    </p>
                {% endif %}

                <button
                    class="bg-blue-700 text-sm text-white mt-6 px-8 py-2.5 rounded-lg hover:bg-blue-700/80 focus:ring-4 focus:ring-blue-300"
                    data-modal-target="save_result_modal"
                    data-modal-toggle="save_result_modal"
                >
                    Save result
                </button>

                <div
                    class="hidden fixed top-0 right-0 left-0 w-full h-[calc(100%-1rem)] max-h-full justify-center items-center z-50"
                    id="save_result_modal"
                >
                    <div class="w-full max-w-2xl max-h-full p-4">
                        <form
                            class="bg-white rounded-lg shadow"
                            method="post"
                            action={% url 'remove-background' %}
                        >
                            {% csrf_token %}

                            <div class="flex items-center justify-between p-4 border-b rounded-t">
                                <h3 class="text-xl font-semibold">
                                    Save result
                                </h3>

                                <button
                                    class="w-8 h-8 flex items-center justify-center text-gray-400 rounded-lg hover:bg-gray-200 hover:text-black"
                                    type="button"
                                    data-modal-hide="save_result_modal"
                                >
                                    {% include "icons/cross.html" with class="w-3 h-3" %}
                                </button>
                            </div>

                            <div class="p-4 border-b rounded-t">
                                <input
                                    name="action_type"
                                    type="hidden"
                                    value="save"
                                >

                                <input
                                    name="original_image"
                                    type="hidden"
                                    value="{{ original_image }}"
                                >

                                <input
                                    name="processed_image"
                                    type="hidden"
                                    value="{{ processed_image }}"
                                >

                                <label
                                    class="text-sm"
                                    for="result_name"
                                >
                                    Result name
                                </label>

                                <input
                                    class="w-full bg-gray-50 text-sm mt-2 p-2.5 border border-gray-200 focus:border-blue-500 outline-none rounded-lg"
                                    id="result_name"
                                    name="result_name"
                                    placeholder="Put a name for the result..."
                                    autocomplete="off"
                                />
                            </div>

                            <div class="flex items-center gap-2 p-4 border-t border-gray-200 rounded-b">
                                <button
                                    class="bg-blue-700 text-sm text-white px-8 py-2.5 rounded-lg hover:bg-blue-700/80 focus:ring-4 focus:ring-blue-300"
                                    onclick="disableButtonOnLoading(event)"
                                    variant="primary"
                                >
                                    Save
                                </button>

                                <button
                                    class="bg-red-700 text-sm text-white px-8 py-2.5 rounded-lg hover:bg-red-700/80 focus:ring-4 focus:ring-red-300"
                                    type="button"
                                    data-modal-hide="save_result_modal"
                                >
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock body %}

{% block js %}
    <script type="module" src="{% static 'js/utils.js' %}"></script>

    <script type="module">
        const result = document.getElementById("result").dataset.result;

        if (result === "success") {
            window.showToast(
                "background-remover-result-saved", "Result saved successfully."
            );
        }
    </script>
{% endblock js %}
